---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";
import "@fontsource-variable/noto-sans-lao";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts.ts";
let path = Astro.url.pathname;
const { metaTitle, metaDescription, metaImage } = Astro.props;

let title = "";
if (path === "/" || path === "/en/") {
	title = `Home | ${SITE_TITLE}`;
} else {
	title = metaTitle
		? `${metaTitle} | ${SITE_TITLE}`.trim()
		: path
				.split("-")
				.map((word) => word.charAt(0).toUpperCase() + word.slice(1))
				.join(" ")
				.split("/")
				.map((word) => word.charAt(0).toUpperCase() + word.slice(1))
				.filter((p) => p !== "")
				.join(" | ")
				.replaceAll("%20", " ") +
			" | " +
			SITE_TITLE.trim();
}
---

<!doctype html>
<html lang="en" class="!scroll-smooth">
	<head>
		<BaseHead
			metaTitle={title || SITE_TITLE}
			metaDescription={metaDescription || SITE_DESCRIPTION}
			metaImage={metaImage}
		/>
	</head>
	<body class="font-sans">
		<Nav />
		<div class="py-12">
			<slot />
		</div>
		<Footer />
	</body>
</html>
